:root {
  --btn-color: #404bbf;
  --iris-color: #4d5ae5;
  --navi-blue-color: #2e2f42;
  --cloud-color: #f4f4fd;
  --slate-color: #434455;
}

@media screen and (max-width: 1157px) {
  .features-cont-icon {
    display: none;
  }

  .section-eg {
    display: none;
  }
}

@media screen and (max-width: 427px) {
  .backdrop {
    /* width: 95%; */
    padding-top: 55px;
    overflow-y: auto;
  }

  .modal {
    position: absolute;
    padding: 96px 24px 24px 24px;
    width: 95%;
    min-height: 584px;
    left: 50%;
    top: 20px;
    transform: translate(-50%) scale(1);
    transition: transform 250ms linear;
    /* DAIRY */
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
  }
}

/* and (min-width: 428px) */
@media screen {
  .container {
    max-width: 400px;
  }

  .nav-list {
    display: none;
  }

  .address {
    display: none;
  }

  .our-team > .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* 
  .header-container {
    margin-left: 120px;
  } */

  .logo-h {
    margin-right: 76px;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: var(--navi-blue-color);
    display: flex;
    padding: 24px 0;
    position: relative;
    color: var(--navi-blue-color);
    color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item-link.current {
    color: #404bbf;
  }

  .nav-item-link.current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-item-link:hover {
    color: var(--btn-color);
  }

  .nav-item-link:focus {
    color: var(--btn-color);
  }

  .address {
    font-style: normal;
    margin-left: auto;
    display: flex;
  }

  .address-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .address-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.5em;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: var(--slate-color);
    /* padding: 24px 0; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover {
    color: var(--btn-color);
  }

  .address-link:focus {
    color: var(--btn-color);
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
  }

  .menu-toggle {
    display: none;
  }

  .hero-title {
    font-size: 56px;
    line-height: 107%;
  }

  .section.hero {
    padding: 112px 0;
    margin: 0 auto;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .feature-name {
    /* display: flex; */
    font-size: 36px;
    justify-content: start;
    font-weight: 700;
    line-height: 1.1em;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    color: var(--navi-blue-color);
    margin-bottom: 8px;
  }

  .features-list-item {
    gap: 24px;
    width: calc((100% - 24px) / 2);
  }

  .our-team > .container {
    max-width: 582px;
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  /* .our-team-item {
    width: calc((100% - 40px) / 2);
  } */

  .container-customers {
    max-width: 582px;
  }

  .customers-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 72px;
  }

  .customers-item {
    height: 88px;
    width: calc((100% - 48px) / 3);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 582px;
  }

  .logo-footer {
    margin: 0 auto;
    margin-bottom: 16px;
    display: inline-block;
  }

  .title-par-footer {
    margin-left: 0;
    margin-bottom: 72px;
  }

  .footer-media {
    align-items: baseline;
    /* margin-right: 80px; */
    /* margin: 0; */
  }

  .soc-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    display: block;
  }

  .sub-par {
    margin-bottom: 16px;
    display: inline-block;
    justify-content: center;
  }

  .sub-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-form {
    /* display: flex; */
    flex-direction: row;
    width: 100%;
  }

  .footer-form input {
    width: 264px;
  }

  .subscribe {
    margin: 0;
  }

  .modal {
    position: absolute;
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    left: 50%;
    top: 20px;
    transform: translate(-50%) scale(1);
    transition: transform 250ms linear;
    /* DAIRY */
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .images-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .image-item {
    width: calc((100% - 24px) / 2);
    position: relative;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin-right: auto;
    margin-left: auto;
  }

  .modal {
    position: absolute;
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;
    /* DAIRY */
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address {
    font-style: normal;
    margin-left: auto;
  }

  .address-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    font-style: normal;
    font-size: 16px;
  }

  .section.hero {
    padding: 188px 0;
    margin: 0 auto;
  }

  /* .hero {
    background-color: var(--navi-blue-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  } */

  .features-list-item {
    gap: 24px;
    width: calc((100% - 72px) / 4);
  }

  .feature-name {
    display: flex;
    font-size: 20px;
    justify-content: start;
    font-weight: 500;
    line-height: 1.1em;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    color: var(--navi-blue-color);
    margin-bottom: 8px;
  }

  .feature-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    /* or 150% */
    letter-spacing: 0.02em;
    color: var(--slate-color);
  }

  .our-team > .container {
    max-width: 1158px;
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .our-team-item {
    width: calc((100% - 80px) / 4);
  }

  .customers-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-item {
    height: 88px;
    width: calc((100% - 30px) / 4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: baseline;
    flex-wrap: nowrap;
    margin: 0 auto;
  }

  .title-par-footer {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-title {
    width: 264px;
    font-size: 16px;
    /* max-width: 280px; */
  }

  .footer-media {
    align-items: baseline;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .images-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .image-item {
    width: calc((100% - 48px) / 3);
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
}

@media screen and (max-width: 428px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-mob-2x.jpg);
    }
  }
}
