:root {
  --btn-color: #404bbf;
  --iris-color: #4d5ae5;
  --navi-blue-color: #2e2f42;
  --cloud-color: #f4f4fd;
  --slate-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--slate-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo-h {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  /* identical to box height, or 117% */
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

a > span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  /* identical to box height, or 117% */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navi-blue-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-3-3-3-3-3-3-3-3-3- HEADER */

.header-container {
  display: flex;
  align-items: center;
}

.header {
  /* position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  z-index: 1; */
  /* padding-top: 24px;
  padding-bottom: 24px; */
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.mobile-menu-icon {
  stroke: #2e2f42;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 35px 40px 40px;
  z-index: 999;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 16px;
  z-index: 1;
}
.menu-toggle {
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.close-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  /* opacity: 0.1; */
  border: 1px solid #2e2f42;
  border-radius: 50%;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue-color);
}

/* .mobile-menu-link:focus {
  color: #404bbf;
} */

/* .mobile-menu-item:nth-child(-n + 1) {
  border: 2px solid rgb(0, 26, 255);
  border-radius: 16px;
  margin-bottom: 1px;
}

.mobile-menu-item:nth-child(-n + 1) {
  color: #404bbf;
} */

.current {
  color: #404bbf;
}

.mobile-address-list {
  margin-bottom: 48px;
}

.mobile-tel-item {
  margin-bottom: 40px;
}

.mobile-tel-link {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
}

@media screen and (max-width: 428px) {
  .mobile-tel-link {
    font-size: 24px;
  }
}

.mobile-address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-address .social-list {
  gap: 56px;
}
.mobile-address .social-link {
  padding: 8px;
}

/* -1-1-1-1-1-1-1-1-1-1- HERO */

.hero {
  /* background-color: var(--navi-blue-color); */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* max-width: 1440px; */
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.section.hero {
  padding: 112px 0;
  margin: 0 auto;
}

.hero-title {
  /* background-color: var(--navi-blue-color); */
  font-style: normal;
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  /* line-height: 107%; */
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 496px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--iris-color);
  cursor: pointer;
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/*=====================OUR FEATURES */

.our-features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}

.features-list-item {
  gap: 24px;
  /* width: calc((100% - 72px) / 4); */
}

.features-cont-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.feature-name {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.1em;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.feature-description {
  font-size: 16px;
  line-height: 1.5em;
  /* or 150% */
  font-weight: 500;
  letter-spacing: 0.32px;
  color: var(--slate-color);
}

/*-3-3-3-3-3-3-3-3- WHAT ARE WE DOING */

.section-eg {
  padding-bottom: 120px;
}

.eg-title {
  margin-bottom: 72px;
}

.eg-list {
  display: flex;
  gap: 24px;
}

.eg-item {
  width: calc((100% - 48px) / 3);
}

.eg-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  /* identical to box height, or 111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue-color);
  text-align: center;
}

/* =====================OUR TAEM */

.our-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  /* identical to box height, or 111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue-color);
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 72px 24px;
}

.our-team-item {
  background-color: #ffffff;
  /* width: calc((100% - 72px) / 4); */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 264px;
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  margin-bottom: 8px;
}

.name-d-ion {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 32px 16px;
}

.our-team-job {
  font-size: 16px;
  line-height: 1.5em;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: var(--slate-color);
  margin-bottom: 24px;
}

.soc-media-list {
  display: flex;
  gap: 16px;
  /* gap: 24px; */
  justify-content: center;
}

.soc-media-link {
  width: 40px;
  height: 40px;
  background-color: var(--iris-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-media-link:hover {
  background-color: #404bbf;
}

.soc-media-link:focus {
  background-color: #404bbf;
}

.soc-icon {
  fill: var(--cloud-color);
}

/* -5-5-5-5-5-5-5-5-5-5-Customers */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  /* identical to box height, or 111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue-color);
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 72px;
}

.customers-item {
  height: 88px;
  width: calc((100% - 30px) / 2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover {
  color: #404bbf;
  border-color: #404bbf;
}

.customer-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}

.customer-icon {
  fill: currentColor;
}

/** ----------------------------FOOTER */

.footer {
  background: var(--navi-blue-color);
  padding: 96px 0;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: baseline;
  /* column-gap: 72px; */
}

.title-par-footer {
  /* margin-right: 120px; */
  margin: 0 auto;
  margin-bottom: 72px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  /* identical to box height, or 117% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

.logo-footer {
  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.fter {
  color: #f4f4fd;
  display: inline-block;
  margin: 0;
}

.footer-title {
  line-height: 1.5;
  /* or 150% */
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  max-width: 268px;
  font-size: 16px;
}

/* SOCIAL MEDIAS ffff */

.footer-media {
  align-items: baseline;
  margin: 0 auto;
  margin-bottom: 72px;
}

.soc-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-links-list {
  display: flex;
  gap: 16px;
  justify-content: space-around;
  /* justify-content: center; */
}

.footer-links-item {
  width: 40px;
  height: 40px;
}

.footer-links-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links-link:hover {
  background-color: #31d0aa;
}

.footer-links-link:focus {
  background-color: #31d0aa;
}

/* FORM ffff*/

.footer-form {
  margin-left: 80px;
  /* display: flex; */
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
}

.footer-form input {
  background-color: transparent;
  border: none;
  height: 40px;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
  width: 100%;
}

.sub-par {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.sub-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-label {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-input::placeholder {
  color: #ffffff;
}

.subscribe {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 8px 24px;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  border-style: none;
  min-width: 165px;
  cursor: pointer;
  margin: 0 auto;
}

.subscribe:hover {
  background-color: var(--btn-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.plane {
  fill: #ffffff;
  margin-left: 16px;
}

/* _$_$_$_$_$_$_$_$_$_$_ADDITIONAL INFO FOR PORTFOLIO */

.sec-images {
  padding: 96px 0 120px 0;
}

.btn {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  color: #ffffff;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  border: 1px solid #e7e9fc;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btns-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

.images-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  column-gap: 24px;
  row-gap: 48px;
}

.image-item {
  position: relative;
}

.image-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-item:hover .works-cover-text {
  transform: translateY(0);
}

.image-item:focus .works-cover-text {
  transform: translateY(0);
}

.image-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-link:hover .works-cover-text {
  transform: translateY(0%);
}

.image-link:focus .works-cover-text {
  transform: translateY(0%);
}

.works-cover-wrap {
  position: relative;
  overflow: hidden;
}

.works-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: var(--iris-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.name-image {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  margin-bottom: 8px;
}

.image-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/*BACKDROP */

.backdrop {
  position: fixed;
  padding: 72px 24px 24px 24px;
  width: 100%;
  height: 100%;
  background-color: transition background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  transition: opacity 250ms linear, visibility 250ms linear;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.modal {
  position: absolute;
  padding: 96px 24px 24px 24px;
  width: 95%;
  min-height: 584px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  background-color: var(--btn-color);
  border: none;
}

.modal-close:focus {
  background-color: var(--btn-color);
  border: none;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-icon {
  fill: #ffffff;
}

.modal-close:focus .close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  position: relative;
  flex-direction: column;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field.com {
  margin-bottom: 16px;
}

.input-label input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--iris-color);
}

.modal-input:focus + .modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--iris-color);
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  /* margin-bottom: 16px; */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  margin-left: 8px;
}

.modal-comment:focus {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--iris-color);
}

.wrap-privacy {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  /* or 117% */
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
  align-items: center;
}

.check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.modal-check:checked + .check-text span {
  background-color: var(--btn-color);
  border: none;
  fill: #f4f4fd;
}

.wrap-privacy:hover .check {
  border-color: var(--btn-color);
}

.wrap-privacy:focus .check {
  border-color: var(--btn-color);
}

.check:focus {
  border-color: var(--btn-color);
}

.privacy-link {
  color: var(--iris-color);
}

.btn-send {
  display: block;
  color: #ffffff;
  border: none;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 48px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn-send:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--btn-color);
}

.btn-send:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--btn-color);
}

.send-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
